git/gitconfig.local.symlink
history/
bash_*
src/DS_Store
src/SpaceVim/
src/anaconda/
src/ansible/
src/anyconnect
src/aws/
src/cache/
src/cisco/
src/condarc
src/config/
src/cups/
src/docker/
src/gem/
src/gitattributes
src/gitignore
src/gsutil/
src/hammerspoon/
src/ipynb_checkpoints/
src/ipython/
src/jupyter/
src/kube/
src/local/
src/macbook-setup/
src/minikube/
src/mono/
src/npm/
src/oh-my-zsh/
src/oracle_jre_usage/
src/putty/
src/python_history
src/rediscli_history
src/shell.pre-oh-my-zsh
src/sonarlint/
src/ssh/
src/swt/
src/templateengine/
src/terminfo/
src/terraform.d/
src/tldrc/
src/tmux/
src/tmux.conf
src/vagrant.d/
src/vim
src/vim_back/
src/vim_mru_files
src/vim_runtime/
src/viminfo
src/vimrc.dshort.keep/
src/vimrc_back/
src/vs-kubernetes/
src/vscode/
src/z/
src/zcompdump-LOH085W55QNHTD6-5.7.1
src/zsh_history
src/zshrc.backup/
src/z
src/scripts/DS_Store
